@import "tailwindcss";

:root {
  --background: #F5EDE3;
  --foreground: #3A2D1E;
  --light-foreground: #967B5E;
  --nav: #eee1d1;
  --accent: #C98A74;
  --support: #9CB6AD;
  --dark-support: #508170;
  --placeholder-color: #8b7d6b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-foreground: var(--light-foreground);
  --color-nav: var(--nav);
  --color-accent: var(--accent);
  --color-support: var(--support);
  --color-dark-support: var(--dark-support);
  --font-sans: var(--font-inria-sans);
  --font-mono: var(--font-inria-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #3A2D1E;
    --foreground: #eee1d1;
    --nav: #967B5E;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inria-sans), sans-serif;
}

/* Custom Tailwind CSS classes */
@layer components {
  input::placeholder {
    color: var(--placeholder-color);
  }
  textarea {
    @apply min-h-20 max-h-40;
  }
  /* Applies to hover animations */
  .hover-animation {
    @apply transition-all duration-200 ease-in-out;
  }
  /* Applies to Groups and Sheets page */
  .page-container {
    @apply mt-8 mx-40 h-[calc(100vh-8rem)];
  }
  .page-title {
    @apply text-4xl mb-4;
  }
  .card {
    @apply container max-w-screen-xl py-7 px-5 border-2 border-light-foreground rounded-md hover:cursor-pointer hover:border-support hover:shadow-md;
  }
  .card-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6;
  }
  .card-name {
    @apply text-xl font-bold;
  }
  .create-button {
    @apply w-full border-3 border-dotted text-2xl text-accent flex justify-around items-center hover:bg-orange-100;
  }
  .create-button:hover .create-icon {
    @apply -translate-y-1;
  }
  /* Applies to navbar */
  .nav-link {
    @apply hover:text-dark-support hover:underline hover:cursor-pointer;
  }
  .create-icon {
    @apply h-10 w-10 hover:-translate-y-2;
  }
  /* Applies to individual sheet pages and some applies to add group page */
  .sheet {
    @apply border mt-2 p-10 flex flex-col flex-1 min-h-[calc(100vh-12rem)]; 
  }
  .sheet-content {
    @apply flex gap-20 flex-1 text-xl;
  }
  .sheet-name {
    @apply text-3xl font-bold mb-4 resize-none overflow-hidden;
    field-sizing: content;
  }
  .sheet-photo {
    @apply bg-background p-2 pb-4;
  }
  .sheet-basic {
    @apply mt-2 ;
  }
  .sheet-input {
    @apply bg-background/[0.5] px-2 rounded-md border-1 border-foreground w-full;
  }
  .sheet-details {
    @apply flex flex-col flex-1 justify-between mb-20;
  }
  .sheet-basics {
    @apply flex flex-col gap-2;
  }
  .sheet-heading {
    @apply text-2xl font-bold;
  }
  .color-input {
     @apply flex items-center gap-2 w-fit;
  }
  /* Applies to events section for sheet pages */
  .events {
    @apply border p-4 mt-2 min-h-[calc(100vh-12rem)] max-h-[calc(100vh-12rem)] overflow-y-auto; 
  }
  .event-item {
    @apply p-2 mb-2 bg-nav border;
  }
  .event-title {
    @apply text-xl font-bold;
  }
  .event-description, .event-date {
    @apply text-lg;
  }
  /* Applies to login and sign up pages */
  .account-page {
    @apply flex bg-nav h-screen;
  }
  .account-sections {
    @apply flex-1 flex items-center justify-center;
  }
  .account-form-section {
    @apply bg-support/[0.2] flex flex-col;
  }
  .account-input {
    @apply w-70 mt-5 text-xl text-foreground bg-nav border-1 border-light-foreground px-5 py-2 rounded-xl focus:outline-none focus:ring-1 focus:ring-dark-support;
  }
  .account-button {
    @apply bg-accent/[0.6] hover:cursor-pointer hover:bg-accent;
  }
  .error {
    @apply font-bold text-accent;
  }
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--nav);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 3px;
  border: 2px solid #e2b787;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--foreground)
                     var(--nav);
  }
}